*{
  padding: 0;
  margin: 0;
}
.wrapp {
  width: 600px;
  height: 400px;
  border: 1px solid #ddd;
  margin: 10px auto;
}
.soldier {
  width: 8px;
  height: 8px;
  border: 1px solid #ddd;
  margin: 1px;
  float: left;

}
.sniper {
  width: 8px;
  height: 8px;
  border: 1px solid #ddd;
  margin: 1px;
  float: left;
  background-color: orange;
}
.soldier:hover {

}
.info {
  width: 200px;
  height: 100px;
  background-color: #eee;
  opacity: .7;
  font-size: 28px;
  position: absolute;
  border-radius: 8px;
}
